{% load static %}
<html>
    <head>
        <title>Exchange Rate</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/chart.css' %}">

    </head>
    <body>
      <nav class="navbar navbar-dark bg-dark">
        <h4 class="text-white">Exchange rate</h4>
      </nav>
        <div class='chart' id="container">
          <canvas id="line-chart" data-url="{% url 'line-chart' '365' %}"></canvas>
        </div>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script>
    
        $(function () {
    
          var $lineChart = $("#line-chart");
          $.ajax({
            url: $lineChart.data("url"),
            success: function (data) {
    
              var ctx = $lineChart[0].getContext("2d");
    
              new Chart(ctx, {
                type: 'line',
                data: {
                  labels: data.labels,
                  datasets: [{
                    label: 'USD',
                    data: data.data
                  }]          
                },
                options: {
                  responsive: true,
                  title: {
                    display: true,
                    text: 'USD to UAH Exchange Rate'
                  }
                }
              });
            }
          });
        });
      </script>
      <div class='row'>
        <div class="formdiv">
          <form action='' method = 'POST'>
          {% csrf_token %}
          {{ form.date }}
          {{ form.rate }}
          <input class="btn btn-info btn-md" type='submit' value = 'OK'>
        </form>
        </div>
       <div class='btnContainer'>
        <a href="{% url 'week' %}" class="btn btn-outline-secondary btn-md" role="button">Week</a>
        <a href="{% url 'month' %}" class="btn btn-outline-secondary btn-md" role="button">Month</a>
        <a href="#" class="btn btn-outline-dark btn-md active" role="button" aria-pressed="true">Year</a>
      </div>
      </div>
    </body>
</html>